[2020-01-19 15:34] ztkmkoo opened #1 "Akka RESTful Server Application"
- Support get/post rest api
- handling request as asynchronous

[2020-01-28 15:43] ztkmkoo commented on #1
#2

[2020-02-02 09:56] ztkmkoo opened #3 "add simple README.md"
- create new README.md file
- add simple contents to it

[2020-02-02 09:57] ztkmkoo opened #4 "add code convention file"
- add code convention file

[2020-02-02 09:58] ztkmkoo opened #5 "add contribute guide line"
- add contribute guide file

[2020-02-04 14:07] ztkmkoo commented on #3
Complete issue. I will update README.md after add some codes.

[2020-02-04 14:07] #3 closed

[2020-02-04 15:21] ztkmkoo commented on #4
#7 Pull Request

[2020-02-04 15:23] ztkmkoo opened #8 "Add CODE_OF_CONDUCT.md file"
add CODE_OF_CONDUCT.md file with Contributor Covenant template. Will improve it later some day.

[2020-02-04 15:29] ztkmkoo commented on #8
#9

[2020-02-04 15:29] #8 closed

[2020-02-04 15:33] ztkmkoo opened #10 "Add pull request template"

[2020-02-04 15:43] ztkmkoo commented on #10
#11

[2020-02-04 15:43] #10 closed

[2020-02-04 15:45] ztkmkoo commented on #4
Make mistake to close this issue..
Reopen it.

[2020-02-04 15:46] ztkmkoo commented on #5
#7

[2020-02-04 15:46] #5 closed

[2020-02-04 15:48] ztkmkoo opened #12 "Update README.md"
- update README.md with new files.(CONTRIBUTION.md or CODE_OF_CONDUCT , etc..)

[2020-02-04 15:59] ztkmkoo commented on #4
#13

[2020-02-04 15:59] #4 closed

[2020-02-04 16:06] ztkmkoo commented on #12
#14

[2020-02-04 16:10] ztkmkoo commented on #12
https://github.com/ztkmkoo/dss/releases/tag/tag-0.0.1

[2020-02-04 16:10] #12 closed

[2020-02-06 03:58] ztkmkoo commented on #1
This feature will not be patched.

[2020-02-06 03:58] #1 closed

[2020-02-08 08:26] ztkmkoo opened #15 "Netty http network module"
- network module interface
- network http module implement

[2020-02-08 17:18] ztkmkoo commented on #15
#16

[2020-02-08 17:18] #15 closed

[2020-02-08 18:08] ztkmkoo opened #17 "Akka based multi thread server system"
- create server system with akka-actor-typed_2.13:2.6.3

[2020-02-14 17:42] ztkmkoo opened #19 "Cobertura Coverage Setting"
- set gradle build
- set cobertura coverage config

[2020-02-16 14:15] #19 closed

[2020-02-17 12:33] #17 closed

[2020-02-17 12:41] ztkmkoo opened #21 "Add specialized rest module from http"
- handling get / post / put / delete
- process rest json format

[2020-02-17 12:49] ztkmkoo opened #22 "Refactory server module"

[2020-02-18 06:45] ztkmkoo opened #24 "Test issue"
test gitter.

will close it after test.

[2020-02-18 06:46] ztkmkoo commented on #24
![image](https://user-images.githubusercontent.com/26991409/74710815-e1b2fe00-5265-11ea-92ae-29a2f13be913.png)

[2020-02-18 06:46] #24 closed

[2020-02-18 16:46] #22 closed

[2020-02-18 16:53] ztkmkoo opened #25 "Connect akka system with refactoring network module"

[2020-02-18 16:54] ztkmkoo opened #26 "Remove old(deprecated) http module"

[2020-02-24 05:59] ztkmkoo opened #28 "[BUG]Netty ChannelHandlerContext is not serializable"
[code]

Tell master actor the non serializable object.
Please resolve it.

[2020-02-24 06:00] ztkmkoo commented on #25
Closes #28

[2020-03-24 14:36] #25 closed

[2020-03-24 14:37] #28 closed

[2020-03-24 14:37] #26 closed

[2020-03-24 14:38] #21 closed

[2020-03-24 16:10] ztkmkoo opened #29 "resolve json and form data binding"
make rest module handling content-type under below:
- application/json
- application/x-www-form-urlencode
- multipart/form-data

[2020-04-05 17:12] #29 closed

[2020-04-12 16:26] ztkmkoo opened #31 "Resolve rest dynamic url path"
resolve non static path(like request param or path variable in spring framework)

[2020-04-12 16:27] ztkmkoo opened #32 "Serve https feature"

[2020-04-12 16:29] ztkmkoo opened #33 "Add rest tutorial"
- add example sub module and make the rest tutorial

[2020-04-18 06:49] ztkmkoo opened #35 "Add server module to maven repository"
maven central.
Ref ~~https://jojoldu.tistory.com/161~~ => https://central.sonatype.org/pages/ossrh-guide.html

[2020-04-18 07:10] ztkmkoo commented on #35
jira - ticket: https://issues.sonatype.org/browse/OSSRH-56826

[2020-04-27 01:26] ztkmkoo commented on #35
chanage group id to io.github.ztkmkoo

[2020-05-04 14:37] ztkmkoo opened #36 "Inspect code style"
Some codes do not follow the code style guide rule.
Find the mistake and patch it.

Here is the code style rule in korean.
https://github.com/ztkmkoo/dss/wiki/Code-Style(KR)

[2020-05-10 16:19] ztkmkoo opened #37 "Change group id to io.github.ztkmkoo"
According to #35,
the package name(group id) should be changed to ensure greater consistency.

[2020-05-18 13:06] ztkmkoo commented on #37
Change build tool to maven

[2020-05-18 13:09] ztkmkoo opened #38 "Change build tool to maven"
- not support github dependency graph
- Some issues in publishing to maven central repository

[2020-05-18 13:11] ztkmkoo commented on #37
#38 I will work the change build tool work. This issue will be handled after the change build tool job

[2020-05-19 09:24] ztkmkoo commented on #35
https://mvnrepository.com/artifact/io.github.ztkmkoo/dss-server

[2020-05-19 09:24] #35 closed

[2020-05-21 16:53] ztkmkoo opened #40 "Skip gpc sign for default build option"
for deploy to maven central, i add maven-gpg-plugin to dss-server module.

[2020-05-31 15:31] ztkmkoo opened #41 "[BUG]Not expected response"
**Describe the bug**
The http rest response is not expected value.

my test code:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/26991409/83354950-1a02c600-a397-11ea-827e-18cb684ca04b.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04
 - Test: Insomnia

[2020-06-01 23:32] ztkmkoo commented on #41
The PR 42 is just a temporary solution.

[2020-06-04 15:28] ztkmkoo opened #44 "Add rest server tests"
Please add rest server tests to dss-server module.
Check if all the functions works, if not please report the bugs.

You may need to add some http client dependency and complete the test.

Recommended tests:
- basic rest test. (normal json request and its expected response)
- check if contents types and encode module works well

[2020-06-04 15:37] ztkmkoo opened #45 "Add ssl certificate module to rest server"
Lets rest server can run with ssl certificate(like https protocol).
Let netty channel works with ssl context.

[2020-06-04 15:38] #38 closed

[2020-06-04 15:51] ztkmkoo commented on #37
In this migrate job, first i will change the package name to io.github.ztkmkoo
and then I will move the common interface and common codes to dss-common sub module for hiding core source to normal user.

[2020-06-04 16:04] ztkmkoo commented on #37
I will create new issue and do the refactoring job.

[2020-06-04 16:08] #37 closed

[2020-06-07 16:07] ztkmkoo opened #47 "Issue free ssl certification for test"

[2020-06-07 16:21] ztkmkoo commented on #47
In test case, use self-signed-certification.

[2020-06-17 12:26] ztkmkoo commented on #47
add free certificate in test resources

[2020-06-17 12:26] #47 closed

[2020-06-17 12:27] #45 closed

[2020-06-17 12:44] ztkmkoo opened #49 "[BUG]Rest request with content-type form-data not working"
**Describe the bug**
When send a form-data get request dss not working as expected.

**Screenshots**
![image](https://user-images.githubusercontent.com/26991409/84899400-96114380-b0e3-11ea-9ba9-9d42065b6023.png)

[2020-06-17 12:44] ztkmkoo commented on #49
Dss server cannot read content-type correctly. I will fix it.

[2020-06-19 06:26] ztkmkoo opened #51 "Try github package publishing"
Recently, i know the github pakcage function (https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-apache-maven-for-use-with-github-packages). It is like maven central repository, but much easier.

I'm not sure it is safe(it was a beta version last year), but it is worth to do.

[2020-06-28 13:27] ztkmkoo opened #52 "Add websocket handler and its service interface"

[2020-06-28 14:38] #40 closed

[2020-07-02 15:55] ztkmkoo opened #54 "Make Netty Handler as Akka actor"
There is a big flaw in this dss server system.
Netty handler have the blocking codes with concurrent hash map.

like io.github.ztkmkoo.dss.core.network.rest.handler.DssRestHandler, i have to handle the Netty ChannelHandlerContext with the concurrent container to handling receive also send action.

Please resolve it.

It would be a big upgrade.

[2020-07-02 17:39] ztkmkoo commented on #54
I try to implement NioServerSocketChannel, ServerBootstrap, DefaultChannelPipeline, but i met the problem here.

at io.netty.channel.AbstractChannel.register0(), i need to override the pipeline.invokeHandlerAddedIfNeeded() method,
but if i make the handlers as akka actor, then send the read message action to the actors, then the channel will be unsafed(both netty eventloop and akka system thread c

[2020-07-05 16:05] ztkmkoo commented on #54
In netty, there are boos group (thread pool) that handling socket transport and worker group handling the transported message.
I try to make the worker group work as actor.

[2020-07-14 18:10] ztkmkoo commented on #54
These days. i try to implement netty core classes like ChannelPipeline, SingleThreadEventLoop, MultithreadEventLoopGroup, AbstractSet<SelectionKey>, Selector, ServerBootstrap, ServerSocketChannel..

i succeed to register, bind and active the socket channel. and also succeed to accept the socket connection. But!!!!! it cannot read from it... omg...  feel so stressed...

[2020-07-14 18:32] ztkmkoo commented on #54
after implement the doBeginRead. it worked finally..
actually, there are left so many method to override..

[2020-07-16 16:24] ztkmkoo commented on #54
It must be test error.
I will fix it next commit..

[2020-07-18 08:02] ztkmkoo commented on #54
I found cannot merge netty and akka system together without redisign channel and event loop or akka actor
Ok, i will open new issue to handling it

[2020-07-18 08:02] #54 closed

[2020-07-18 08:09] ztkmkoo opened #56 "Try to reform issue format"
There are 2 issue format now.
And its so bad..

Please re-design the format and add some new useful format.

[2020-07-18 08:17] ztkmkoo opened #57 "Design network interface to accept netty modules"
#54 I tried to make netty and akka work together but failed.

I have an idea that if i design Channel, EventLopp and other class, can make netty channel work on akka actor.
I will make the boss actor and working actor to implement netty bossGroup and workerGroup.

[2020-07-18 13:45] ztkmkoo opened #58 "Add lombok.config files"
Project lombok is very useful java library helps us automatically plugs into your editor and build tools.
https://projectlombok.org/

But, there are some known problems. (like @Data annotations, so dangerous sometimes)
Try to add an config to make it safe.

[2020-07-18 13:47] ztkmkoo opened #59 "Update Readme.md"
update readme.md (old milestone info)

[2020-07-18 14:14] #59 closed

[2020-07-18 14:27] ztkmkoo opened #61 "Discuss upgrading junit version"
Please discuss about upgrading junit version 4 to 5, and if need please commit codes.
After upgrade, make sure all the origin tests run.

[2020-07-18 14:31] ztkmkoo commented on #61
I think, it is better to upgrade to junit5.
First it is better to asynchrous test, and some new functions.

But, i never try it, maybe some issues there. I need help

[2020-07-19 15:46] ztkmkoo opened #62 "Add example sub module to dss"
add example sub module to the project.

[2020-07-19 15:49] ztkmkoo opened #63 "Upgrade jdk version"
The version of jdk is 1.8 now,
Try to upgrade to jdk 11.

[2020-07-19 15:58] ztkmkoo opened #64 "Add jdbc data access layer interface"
Add jdbc data access layer interface.
In nowaday dss system, we need impletment singleton DAO(data access object) and call it in service actor.
It is so inefficient that add a data acess layer interface and user implement it, at last we run the data access actor in the background can work greate.

[2020-07-19 15:59] ztkmkoo commented on #64
[code]

[2020-07-19 16:00] ztkmkoo commented on #64
[code]

[2020-07-19 16:37] ztkmkoo commented on #64
![class-diagram](https://user-images.githubusercontent.com/26991409/87880064-95910300-ca29-11ea-9aff-3933983390c0.png)

[2020-07-20 03:21] ParkSale opened #65 "[BUG] FileNotFoundException in dss-server testcode"
**Describe the bug**
[code]
When I fork this repository and install, I got error in this test code
[code]

[2020-07-20 04:05] ztkmkoo commented on #65
@ParkSale Hi~

Thx reporting bug. But i run the test succeed in my environment. The code `loadPrivateKeyFromFile` is get resource file from test resources directory .
![image](https://user-images.githubusercontent.com/26991409/87898557-6ca05a80-ca89-11ea-877a-6558b017069b.png)

I need more information,your project sdk(jdk) version, and your ide version.

[2020-07-20 07:43] ztkmkoo commented on #65
@ParkSale
It likes encoding issue. Some error occurred when load the test resource. Can you fix the loadFromTestResources method?

[code]

[2020-07-20 16:31] ztkmkoo commented on #57
https://www.oreilly.com/library/view/java-nio/0596002882/ch04.html

[2020-07-21 13:53] MunSeongUk opened #66 "[BUG] Project-Tuturial(KR) is not working"
I have tried following the Project Tutorial(KR)  in wiki but it didn't work.

I set up the project like this
    <artifactId>dss-server</artifactId>
    <version>0.3.0.0</version>
<- which is previous version
    <artifactId>dss-server</artifactId>
    <version>0.3.1.0</version>
<- which is current version
    <artifactId>dss-server</artifactId>
    <version>0.0.3</version>
<- which is guided vers

[2020-07-21 15:52] yeonnseok commented on #61
I think using junit5 is good option.
I will try to change version.

Also I want to discuss about two more another issues about test code.
1. I want to suggest adding `@DisplayName` above each test method to recognize easily what test is about.
2. There is another library called "AssertJ" which is recommended to use with junit5 because of its fluency of writing test assertions. Especially in collec

[2020-07-21 16:23] ztkmkoo commented on #66
@MunSeongUk Hi,

i tried with 0.3.0.0 and worked.

[code]

[code]

telnet 127.0.0.1 8181 work.

[2020-07-22 01:09] ztkmkoo commented on #65
With local user account name(not eng), mvn install was failed for creating jacoco reporing file.
We have to modify jacoco plugins configuration at pom.xml

1. property
[code]
2. jacoco build plugin (im not sure other version worked)
[code]
3. modify maven-surefire-plugin (at least 3.0.0-M3 or 2.22.0)
[code]

[2020-07-22 01:25] ztkmkoo opened #68 "Fix maven dependencies"
![image](https://user-images.githubusercontent.com/26991409/88122624-10ae1100-cc04-11ea-96b0-81ba1e00fd0c.png)

https://github.com/ztkmkoo/dss/network/dependencies

if we set the dependency version in prpoerty, the github dependency not read it.
I dont know if it is a bug.

1, add the version directly to the dependency. => it is hard to manage the library versions
2. report bug or fix the bug (rep

[2020-07-22 03:24] ztkmkoo commented on #65
ref link bout jacoco
- https://stackoverflow.com/questions/12269558/maven-jacoco-plugin-error
- https://stackoverflow.com/questions/23190107/cannot-use-jacoco-jvm-args-and-surefire-jvm-args-together-in-maven

[2020-07-22 03:48] ztkmkoo commented on #61
Sorry.. I missed your comment. And i have some question for it.
1. @DisplayName shows the name of the test or description of the test? What is the different from change the method name or class name?
2. I agree with your idea that use AssertJ! That's greate!

[2020-07-22 05:02] ParkSale commented on #65
Thank you . I solve this problem with your help and add decoding in loadFromTestResources method

[2020-07-22 05:04] ztkmkoo opened #69 "Add tutorial link to README.md"
Just append tutorial link (EN + KR) to README.md

[2020-07-22 05:42] ztkmkoo opened #70 "Linkage sonarqube cloud"
https://sonarcloud.io/

[2020-07-22 06:15] ztkmkoo commented on #70
https://sonarcloud.io/dashboard?branch=feature%2F70_sonarqube_cloud&id=ztkmkoo_dss

[2020-07-22 06:16] ztkmkoo commented on #70
![image](https://user-images.githubusercontent.com/26991409/88141315-4ff15780-cc2e-11ea-9854-dc51ff607b15.png)

[2020-07-22 06:21] #70 closed

[2020-07-22 06:28] ztkmkoo opened #72 "Add sonarquebe badge to README.md"
https://sonarcloud.io/dashboard?id=ztkmkoo_dss

[2020-07-22 06:34] ztkmkoo opened #73 "Upgrade travis ci jdk version"
On sonarqube service, the version of Java (1.8.0_252) you have used to run this analysis is deprecated and we will stop accepting it from October 2020.

So we have upgrade the jdk after #63

### detail:

https://sonarcloud.io/documentation/upcoming/

[2020-07-22 13:22] #61 closed

[2020-07-22 13:45] ztkmkoo commented on #57
netty codes are so big..
i have to copy so many core codes..

why not implement custom dss nio socket? i try it.

[2020-07-22 17:22] #65 closed

[2020-07-23 14:03] ztkmkoo commented on #63
@Doyuni

[2020-07-28 02:42] ztkmkoo opened #79 "[BUG]Publish 0.4.2"
dss-server -> dss-core::0.0.1-SNAPSHOT
but dss-core::0.0.1-SNAPSHOT not deployed to maven central..

So the tutorial project could not find artifact io.github.ztkmkoo:dss-core:jar:0.0.1-SNAPSHOT..

[2020-07-28 20:39] chusnaval commented on #68
Hi,
I think this is not possible as you can see in:
https://stackoverflow.com/questions/40114869/maven-pom-file-externalizing-dependency-versions-to-a-properties-file

or

https://stackoverflow.com/questions/14725197/reading-properties-file-from-pom-file-in-maven

Regards.

[2020-07-29 21:24] ztkmkoo commented on #68
@chusnaval
Thank you guy..

How bout setting the version in each pom.xml?

[2020-07-30 00:43] ztkmkoo opened #80 "Set netty and akka log level from service level"
See io.github.ztkmkoo.dss.core.network.rest.DssRestChannel

[code]

It config netty loglevel default as debug level.
By the way, i can config the log level in the service project with create new logback.xml file(so we can see thenetty debug log), but it is necessary to make config log level possible.

How bout implementing a new log level enumeration mapping netty log level(io.netty.handler.loggin

[2020-08-01 05:48] ztkmkoo commented on #44
@Alencion

[2020-08-01 05:52] Alencion commented on #44
Can i try to solve this one?

[2020-08-01 05:52] MunSeongUk commented on #32
I will try this issue.

[2020-08-01 05:53] Doyuni commented on #52
@doyuni

[2020-08-01 05:55] goesang commented on #51
Assign it to me.

[2020-08-01 06:00] JuHyun419 commented on #64
@LeeJuHyun

[2020-08-01 06:06] vincentj2 commented on #80
@vincentj2

[2020-08-01 06:10] Amazansia commented on #36
Assign it to me.

[2020-08-01 06:17] RulLu16 commented on #62
@RulLu16

[2020-08-01 12:30] ztkmkoo opened #81 "Add network interface for rest module"
Discuss and let us add the interface for serving all kinds of network protocol(like tcp, udp, grpc and etc..)

I must make sure the DssRestChannelInitializer, DssRestHandler, DssRestChannel work.

[2020-08-01 13:11] ztkmkoo commented on #81
@Doyuni @yeonnseok
Hi there,

I try to add the interface for network channel, handler and server object.
You two wonder implement websocket and tcp socket network module, so i wanna discuss bout it.
Give me some advices

[2020-08-01 13:16] ztkmkoo opened #82 "Please implement dss network interface make dss server can accept tcp protocol"
Please implement DssChannel, DssChannelInitializer, DssChannelProperty, DssHandler and DssServer, make dss server can listen tcp protocol.

Please ref #81

[2020-08-01 13:16] ztkmkoo commented on #82
@yeonnseok
Can you try this?

[2020-08-01 13:16] ztkmkoo commented on #81
#82 #52

[2020-08-02 09:02] #58 closed

[2020-08-02 09:07] #72 closed

[2020-08-02 09:56] ztkmkoo opened #84 "[Bug]Fix major code smell"
Refactor the code of the lambda to have only one invocation throwing an exception. (after upgrade junit5)
https://sonarcloud.io/project/issues?id=ztkmkoo_dss&resolved=false&severities=MAJOR&types=CODE_SMELL

[2020-08-02 09:57] ztkmkoo commented on #84
- DssRestInvalidContentTypeMappingExceptionTest.java
- DssRestServiceMappingExceptionTest.java
- DssRestMasterActorCommandRequestTest.java
- DssRestChannelInitializerTest.java

[2020-08-02 10:01] chusnaval commented on #68
Oh! i'm sorry, I misunderstood the problem, i'm gonna googling to try to find the solution.

[2020-08-02 10:18] ztkmkoo opened #86 "Modify junit5 test classes and methods's access modifier to default"
JUnit5 test classes and methods should have default package visibility.
Unit5 is more tolerant regarding the visibilities of Test classes than JUnit4, which required everything to be public.

In this context, JUnit5 test classes can have any visibility but private, however, it is recommended to use the default package visibility, which improves readability of code.

[2020-08-02 10:19] ztkmkoo commented on #86
### before

[code]

### after
[code]

[2020-08-02 11:06] chusnaval commented on #68
I found that github Dependency Graph can't resolve in the past versions that are specified in a parent pom:

https://github.community/t/dependency-graph-not-resolving-versions-from-parent-pom/1432

I think that's the actual behaviour, i forked your repo and move all dependencies versions to properties.
As you can see in: https://github.com/chusnaval/dss/network/dependencies in parent pom you can s

[2020-08-02 11:22] ParkSale commented on #86
@ParkSale

[2020-08-02 12:15] ztkmkoo opened #87 "Load test dss rest server performance"
Make a simple(echo) rest server, deploy to a cloud server and run it.
Use gatling(https://gatling.io/) or other tool to test server performance.

And push the echo server code, jar(jave archive) and test results under benchmark repository.

[2020-08-02 13:21] ztkmkoo commented on #79
https://github.com/ztkmkoo/dss/releases/tag/tag-0.4.3
Publish 0.4.3

[2020-08-02 13:21] #79 closed

[2020-08-02 13:23] ztkmkoo commented on #66
@MunSeongUk
HI,
#79 publish 0.4.3 and fix the tutorial bug. please check.

[2020-08-02 13:27] ztkmkoo commented on #68
@chusnaval
Hi, i'll be so happy if you create the pr.

[2020-08-02 14:13] ztkmkoo commented on #87
https://github.com/ztkmkoo/dss/blob/develop/benchmark/dss/GUIDE.md

[2020-08-02 15:05] ParkSale commented on #87
@ParkSale  I want to try this

[2020-08-03 01:40] yeonnseok commented on #82
okay! i will try this one

[2020-08-03 03:06] Alencion opened #90 "[BUG] NullPointerException in DssRestActorJsonService.java"
**Describe the bug**
When json content is mapped to a jsonRequest class, NullPointerException occurs if the field in jsonRequest class is less than jsonContent.

**Screenshots**
[code]
like this.

**Expected behavior**
Need to know why failed to mapping not NullPointerException.

[2020-08-03 03:21] ztkmkoo commented on #90
@Alencion
Hi, thank you for reporting bug.

I see if mapping json failed will return null object, and if you call the object member method will throw and null point exception.
Can you try to resolve this bug?

[2020-08-03 04:31] #68 closed

[2020-08-03 04:34] ztkmkoo commented on #69
@vincentj2
Hi,

![image](https://user-images.githubusercontent.com/26991409/89146189-f2de9580-d58d-11ea-88c3-3c36800c0790.png)
It looks, markdown grammar issue(need blank between # and header name

[2020-08-03 06:17] Alencion commented on #90
ok. I'll try it

[2020-08-03 12:04] #66 closed

[2020-08-03 14:44] #84 closed

[2020-08-03 15:17] ztkmkoo commented on #81
@ParkSale
Give me some advices.

[2020-08-03 16:38] ztkmkoo opened #92 "Try monitoring dss server"
Try monitoring dss server with kamon(https://kamon.io) and zipkin(https://zipkin.io)

[2020-08-03 16:55] ztkmkoo commented on #92
I'm in progress

[2020-08-03 23:21] vincentj2 commented on #69
ok I'll fix it.

[2020-08-04 13:57] #81 closed

[2020-08-04 14:04] ztkmkoo opened #96 "Please implement dss network interface make dss server can accept http/3(QUIC) protocol"
Please implement DssChannel, DssChannelInitializer, DssChannelProperty, DssHandler and DssServer, make dss server can listen http/3 protocol.

[2020-08-04 14:04] ztkmkoo commented on #96
I'm in progress

[2020-08-04 14:06] ztkmkoo commented on #96
- https://en.wikipedia.org/wiki/HTTP/3
- https://en.wikipedia.org/wiki/QUIC

[2020-08-04 14:11] ztkmkoo commented on #96
https://evan-moon.github.io/2019/10/08/what-is-http3/

[2020-08-04 14:20] ztkmkoo commented on #96
https://tools.ietf.org/html/draft-ietf-quic-http-28

[2020-08-04 14:40] #69 closed

[2020-08-05 06:37] ParkSale opened #97 "[BUG] can't get response when using content-type:application/json; utf-8"
**Describe the bug**
I followed tutorial and found a bug
when I request server using
curl -X GET -H "Content-Type: application/json; charset=utf-8" -d '{"name" : "sale"}' http://127.0.0.1:8181/my/service,
I got error that content-type is null
[code]

[2020-08-05 18:10] #62 closed

[2020-08-06 02:20] #44 closed

[2020-08-06 14:42] #63 closed

[2020-08-06 14:42] #73 closed

[2020-08-07 01:18] ztkmkoo commented on #96
https://github.com/bagder/http3-explained

[2020-08-07 01:51] RulLu16 commented on #97
@RulLu16 I wanna try it.

[2020-08-07 02:59] ztkmkoo commented on #96
Simple way to test http3 by chrome
[code]

[2020-08-07 05:26] ParkSale commented on #87
[result.zip](https://github.com/ztkmkoo/dss/files/5039482/result.zip)

I get that result.
but premature close error is appeared.
please advise me

[2020-08-07 05:27] ParkSale commented on #87
[code]

and I simulate with this code

[2020-08-07 05:48] ztkmkoo commented on #87
Could you show me the server error log?

[2020-08-07 07:07] ParkSale commented on #87
[ServerLog.txt](https://github.com/ztkmkoo/dss/files/5039838/ServerLog.txt)

Here is a LogFile.

[2020-08-07 16:28] ztkmkoo commented on #87
@ParkSale
Thank you for reporting the log file.

It looks some error occurred in at io.github.ztkmkoo.dss.core.network.rest.handler.DssRestHandler.handlingDssRestRequest(DssRestHandler.java:142)
[code]

It seems, the io request was pushed before the handler was ready..
I will fix it in other issue.

[2020-08-07 16:34] ztkmkoo opened #98 "[BUG]The rest request was sent before the handler was ready"
According to #87,
If sending lots request, it seems netty push the io event to `io.github.ztkmkoo.dss.core.network.rest.handler.DssRestHandler` before the `ActorContext<DssRestChannelHandlerCommand>` is ready.

If context is null, send back 500 error response to client. (i think..)

If you have a better way, please give me some advices.

[2020-08-07 16:34] ztkmkoo commented on #98
@ParkSale

[2020-08-08 01:54] yeonnseok commented on #82
@ztkmkoo
I am struggling to resolve it and I don't have any idea to test TCP request.
Do I need to create some methods or just add StringEncoder/Decoder on ChannelInitializer for TCP request?

[2020-08-08 17:04] ztkmkoo commented on #82
@yeonnseok
Hi,

Test tcp, you can
- use java IO / NIO socket
  - IO: https://www.codejava.net/java-se/networking/java-socket-client-examples-tcp-ip
  - NIO(see client part): https://examples.javacodegeeks.com/core-java/nio/java-nio-socket-example/
- use netty tcp client
  - https://netty.io/4.1/xref/io/netty/example/echo/package-summary.html

First, you dont have to implement service layer. (just

[2020-08-08 17:06] ztkmkoo commented on #87
@ParkSale
Could you deploy your test server to public server?

(and which port should i open?)

[2020-08-08 17:24] ztkmkoo opened #99 "Improve Project Tuturial(KR)"
- update lastest dss-server version
- add detail

[2020-08-08 17:31] ztkmkoo commented on #99
https://github.com/ztkmkoo/dss/wiki/Project-Tuturial(KR)
update to 0.4.4 and add detail

[2020-08-08 17:31] #99 closed

[2020-08-08 17:35] ztkmkoo commented on #68
![image](https://user-images.githubusercontent.com/26991409/89716554-e40e3d80-d9e8-11ea-83e1-acd37c8c0ad1.png)

Why the root pom.xml dependency version is hide??

[2020-08-08 18:14] ztkmkoo commented on #41
@Doyuni
Are you in progress?

[2020-08-08 22:50] Doyuni commented on #41
@ztkmkoo
Oh...it may have been committed while resolve merge conflict.
Can I try this?

[2020-08-09 04:38] ztkmkoo commented on #41
@Doyuni
Of course

[2020-08-09 05:05] ParkSale commented on #87
please open 8181 port. I will use that

[2020-08-09 07:34] vincentj2 commented on #80
Can you give me some advice?
I have to create a new logback.xml file or just modify an extisting one?

[2020-08-09 08:14] ztkmkoo commented on #80
@vincentj2
the  logback.xml would be overwrote when final user create the logback file in their project.

I think, we could set the loglevel in DssRestServer.

So,

- create an enumeration(somehing like DssLogLevel) mapping netty log level (convert our custom loglevel to netty loglevel)
- add our custom log level enum to DssRestChannelProperty as a property
- (optional) modify DssRestServer constr

[2020-08-09 08:15] ztkmkoo commented on #87
@ParkSale
I open the port, please tell me if not working

[2020-08-09 08:36] ztkmkoo opened #100 "Add rest server basic sample code to dss-example module"
- create io.github.ztkmkoo.dss.example.http.tutorial package under dss-example module
- complete sample code from https://github.com/ztkmkoo/dss/wiki/Project-Tuturial(KR)

[2020-08-09 13:02] #90 closed

[2020-08-12 04:19] RulLu16 commented on #100
@RulLu16  Can I try this?

[2020-08-12 14:19] goesang commented on #31
@goesang

[2020-08-12 14:44] ztkmkoo opened #104 "Add blocking http actor service interface"

[2020-08-13 03:59] Doyuni commented on #92
Hi, I would like to recommend [pinpoint](https://github.com/naver/pinpoint) or [scouter](https://github.com/scouter-project/scouter) to assignees

[2020-08-13 04:32] ztkmkoo commented on #92
@Doyuni
Thanks.
I see pinpoint not support akka(It just supports akka stream now)... and i think scouter too.. (But I'm not convinced)

If pinpoint work, it is greate.

[2020-08-13 04:40] Doyuni commented on #92
@ztkmkoo
Oh..I see.
I'll check it out in detail.

[2020-08-13 12:02] MunSeongUk commented on #49
try

[2020-08-13 12:37] ztkmkoo opened #105 "Load test spring mvc server performance"
Make a simple(echo) rest server, deploy to a cloud server and run it.
Use gatling(https://gatling.io/) or other tool to test server performance.

And push the echo server code, jar(jave archive) and test results under benchmark repository.

Ref #87

[2020-08-13 13:50] Doyuni commented on #41
@ztkmkoo

Can I ask why it is a temporary solution?

[2020-08-13 14:17] ztkmkoo commented on #41
@Doyuni
Hi,

Please see `io.github.ztkmkoo.dss.core.network.rest.handler.DssRestHandler$responseFromServiceActor`, it always converts the DssRestServiceResponse object to json string.

But, see `io.github.ztkmkoo.dss.core.actor.rest.service.AbstractDssRestActorService`, it has the `DssRestContentInfo produce` member.

We have to support not only json format. So we should let `io.github.ztkmkoo.dss

[2020-08-13 23:46] ParkSale commented on #87
I have a question that adding server and client spec

what type of file that I add?

And In server, is it sure that using 'cat /proc/cpuinfo' for server spec?

[2020-08-14 13:25] ztkmkoo commented on #87
Hi, i reply you on the pr. Please check it.

[2020-08-15 05:50] #97 closed

[2020-08-15 14:23] Amazansia commented on #105
Hello. I want to try this one. Could you assign it to me?

[2020-08-16 14:14] #87 closed

[2020-08-16 14:43] ztkmkoo commented on #36
@Amazansia
Hi, it looks i miss description bout class format.

[code]

[2020-08-17 15:19] #100 closed

[2020-08-18 15:54] vincentj2 commented on #92
Hi,
I want to try this issue.

[2020-08-21 05:33] Alencion opened #115 "Add ExceptionHandler interface that users can customize exception handler"
Currently, the users with dss cannot handle exceptions.

So, I suggest adding the exception handler.

[code]
like this.

[2020-08-21 19:51] ztkmkoo opened #116 "Create akka property and its test"
### motivation

We cannot config akka(like log level, provider and etc..)
And want to config it programmatically.

### job

- create property class under `io.github.ztkmkoo.dss.core.actor` package
- make a util class help config the property class
- ref https://doc.akka.io/docs/akka/current/general/configuration.html#configuration

[2020-08-21 21:04] ztkmkoo opened #117 "Create authentication interface and memory actor"
### motivation
Add the authentication actor to authenticate the request.

### job
- add authentication interface under `io.github.ztkmkoo.dss.core.actor.security` package
- add authentication command interface under `io.github.ztkmkoo.dss.core.message.security` package
- add DssRestAuthenticationActor under `io.github.ztkmkoo.dss.core.actor.rest` package
  - DssRestAuthenticationActor initialize w

[2020-08-22 14:50] ztkmkoo opened #118 "Redesign actor interface"
Design
- DssActor interface
- AbstractDssActor abstract class
- DssMasterActor interface
- DssServiceActor interface

[2020-08-28 17:15] ztkmkoo opened #120 "[BUG]Remove this unused import 'io.netty.handler.logging.LogLevel' in DssRestChannel"
See https://sonarcloud.io/project/issues?id=ztkmkoo_dss&open=AXQhHG2wC2eksnoOPTcX&resolved=false&severities=MINOR&types=CODE_SMELL

[2020-08-29 02:30] JuHyun419 commented on #120
@JuHyun419

[2020-08-29 13:47] #36 closed

[2020-08-29 15:55] ztkmkoo commented on #118
I drop b2293f9 commit

[2020-09-03 11:41] #115 closed

[2020-09-03 11:52] ztkmkoo opened #122 "Update CodeStyle Wiki"
### motivation
In resolving #36, i recognized that the code style wiki need improvement.

### to do
We talk a lots in pr #108. And we decide:

The class code convention like
[code]

But there are some exceptions that,
- take serialVersionUID static field at the top the of Serializable class
- take logger field at the top the of class

[2020-09-03 11:53] ztkmkoo commented on #122
@Alencion @Amazansia
Any missing part?

[2020-09-03 11:54] ztkmkoo commented on #122
Please update https://github.com/ztkmkoo/dss/wiki/Code-Style(KR) this wiki

[2020-09-03 14:25] ztkmkoo opened #124 "Update wiki url"
The url of Rest event handling flow and Server initialize flow in https://github.com/ztkmkoo/dss/wiki/Project-Structure linking to feature branch file and it will be delete after merge to develop.

So,
- ~~merge #121 and do not delete branch~~
- ~~update the url with develop branch files~~
- ~~delete the feature branch~~
- merge develop to master
- update the url with master branch files

[2020-09-03 14:26] ztkmkoo commented on #124
merge #121 done

[2020-09-03 14:30] ztkmkoo commented on #124
update the url with develop branch files done

[2020-09-03 14:30] ztkmkoo commented on #124
delete the feature branch(feature/uml_doc) done

[2020-09-04 06:10] Alencion commented on #122
Hi, @ztkmkoo @Amazansia

I have some question.

1. Will we allow both non-static and static loggers?
2. Logger field always should be on top unless static keyword?

Ref : http://slf4j.org/faq.html#declared_static

[2020-09-04 17:30] ztkmkoo commented on #122
Hi @Alencion

I read your slfj document.
1. I think we still need static logger in some cases. There are many advantages with using static logger and i do not want to pass the logger as a parameter to a static method.
[code]
(Of cource, we can design the class that we do not have to use logger in static method, then we do not need static logger.)

2. I suggest that
  - logger field usually on top

[2020-09-05 07:02] Alencion commented on #122
I agree to your suggestion.

I think the logger should not need static.

[2020-09-05 07:03] Alencion commented on #122
I updated the code style wiki (KR).

If you have any idea, plz tell me.

[2020-09-05 15:43] ztkmkoo commented on #122
Thank you for the job.
I approval your update.

[2020-09-05 15:44] ztkmkoo commented on #122
I will close this job. If any opinion, please reopen this issue or create new issue.

[2020-09-05 15:44] #122 closed, assigned to Alencion

[2020-09-05 15:52] ztkmkoo opened #127 "Update gitignore file"
We need update gitignore file for intellij idea files.

Basically, we need
[code]
And threre may be extra config.

[2020-09-06 09:48] RulLu16 commented on #127
Ok, I'll do this.

[2020-09-06 18:20] #82 closed

[2020-09-06 18:35] ztkmkoo opened #129 "Release dss-server 0.5"
- #118 Redesign actor interface

[2020-09-06 18:35] #118 closed

[2020-09-06 18:36] ztkmkoo commented on #118
merge to develop-0.5

[2020-09-06 18:45] ztkmkoo opened #130 "Implement new master actor"
improve master actor interface

### master actor function list:
- can setup whole dss server system
- can create child actors (network, resolver, service, exception)
- handling start command
- manage dss server status
- add rest implement

[2020-09-06 18:46] ztkmkoo commented on #130
create new branch from develop-0.5

[2020-09-09 11:20] c-yeonwoo commented on #105
@ztkmkoo
how is it progressed?
can you make an issue aboutn tcp performance test for me that you recommended before.

[2020-09-11 14:17] Doyuni opened #134 "Add websocket client"
The websocket client can be used to test websocket handler.

[2020-09-11 15:22] #127 closed, assigned to RulLu16

[2020-09-12 12:59] #117 closed

[2020-09-12 13:00] #120 closed

[2020-09-13 05:59] #52 closed

[2020-09-13 17:39] ztkmkoo commented on #105
Sorry @yeonnseok
I missed your comment.

Why not open an issue bout that?
You can open the issue and assign self ^^

@Amazansia Hi.
Are you in progress? Or I wanna unassign this one.

[2020-09-13 17:45] ztkmkoo commented on #96
I have to no time to work this.
Unassign myself.

[2020-09-13 17:52] #129 closed, assigned to nobody

[2020-09-13 18:03] ztkmkoo opened #137 "[BUG]Fix "NullPointerException" could be thrown"
A "NullPointerException" could be thrown; "msg" is nullable in DssHttpRequestHandler.java.

![image](https://user-images.githubusercontent.com/26991409/93025168-be530480-f636-11ea-94ae-c263101acb33.png)

[2020-09-13 18:03] ztkmkoo commented on #137
@Doyuni
Hi, could you like to fix the bug?

[2020-09-13 18:26] ztkmkoo opened #138 "Update README.md"
- add maven dependency badge (ref https://shields.io/)
- re-order badge
- update description and links

[2020-09-13 18:50] ztkmkoo commented on #137
@Doyuni
I will patch this one~

[2020-09-14 02:41] #137 closed, assigned to ztkmkoo

[2020-09-14 03:18] sia-txt commented on #105
@ztkmkoo
Hello. It's okay to unassign me. Sorry for late.

[2020-09-14 14:43] #138 closed, assigned to ztkmkoo

[2020-09-14 16:17] ztkmkoo commented on #105
@yeonnseok
Could you like to work this one?

[2020-09-15 18:41] ztkmkoo commented on #116
@ParkSale
Hi there,
Is it on process?
If not i wanna unassign this one.

[2020-09-15 18:42] ztkmkoo commented on #92
@vincentj2
Hi there,
Is it on process?
If not i wanna unassign this one.

[2020-09-15 18:42] ztkmkoo commented on #64
@JuHyun419
Hi there,
Is it on process?
If not i wanna unassign this one.

[2020-09-16 03:42] JuHyun419 commented on #64
ok~ I got it.

[2020-09-18 02:22] vincentj2 commented on #92
@ztkmkoo
Hi, it's okay~
I'm too busy these days.. when I'm ready I will try this issue later :)

[2020-09-18 05:18] ztkmkoo commented on #92
Thx so much~

[2020-10-11 12:09] ztkmkoo opened #142 "Implement new network actor"
improve network actor and its interface

### network actor function list:

- can listen http protocol
- can send request to resolver actor
- can handling resnpsonse message and send back to client

[2020-10-21 23:24] ztkmkoo opened #144 "Add gitter badge to README.md"
Add gitter badge for korean dss commuinty(https://gitter.im/distributed-server-system/dss-kr)

[2020-10-22 08:53] ztkmkoo commented on #142
test

[2020-11-15 14:44] #142 closed, assigned to ztkmkoo

[2020-11-18 09:35] ztkmkoo opened #145 "Implement new resolver actor"
implement rest resolver actor interface

### resolver actor function list:
- find mapped service(in static path) actor and send the request to it. If not exist, send not found response

[2020-12-05 17:23] ztkmkoo opened #147 "Implement new service actor"
Implement io.github.ztkmkoo.dss.core.actor.DssServiceActor

### resolver actor function list:
- can handling request
- send response to resolve actor

[2020-12-09 17:09] #145 closed, assigned to ztkmkoo

[2020-12-09 21:12] puresin5117 opened #149 "Add social preview image"
@ztkmkoo
Hi,
I make a social preview images for dss.
Please check it.

![IMG_0059](https://user-images.githubusercontent.com/43607411/101687958-9a288780-3aae-11eb-82df-6df769da1ff7.PNG)

[2020-12-09 21:13] ztkmkoo commented on #149
@puresin5117
Its awesome!
Thank you so much.

[2021-05-26 12:38] ztkmkoo opened #152 "[Discuss]Does dss need convert to kotlin?"
1. Can i convert all of the codes to kotlin?
2. Discuss bout kotlin coroutine and actor
3. Why kotlin is better?

[2021-05-26 12:44] ztkmkoo commented on #152
- https://discuss.kotlinlang.org/t/coroutine-actors-and-thread-safety/2356
- https://kotlinlang.org/docs/shared-mutable-state-and-concurrency.html#actors